<div class="a_footer">
  <div class="a_footer_content">
    <div class="a_footer_1">
      <img src="assets/icons/logo.png" alt="Logo" width="69" height="58">
      <p class="a_footer_nosotros">Nosotros</p>
      <p class="a_footer_nosotros_somos">Somos Más uno</p>
    </div>
    <div class="a_footer_2">
      <p class="a_footer_te_info">Te informamos</p>
      <p class="a_footer_te_info_item">Preguntas frecuentes</p>
      <p class="a_footer_te_info_item">Términos y condiciones</p>
      <p class="a_footer_te_info_item">Medios de pago</p>
      <p class="a_footer_te_info_item">Políticas de entrega</p>
      <p class="a_footer_te_info_item">Libro de reclamaciones</p>
      <div class="a_ffoter_mi_libro_rec">
        <img src="assets/icons/libro-reclamaciones.png" alt="Logo" width="80" height="36">
      </div>
    </div>
    <div class="a_footer_3">
      <p class="a_footer_contactanos">Contáctanos</p>
      <div class="a_footer_grupo_contac">
        <img src="assets/icons/ico-celular.png" alt="Logo" width="24" height="24">
        <p class="a_footer_num_contact">213-5300</p>
      </div>
      <div class="a_footer_iconos">
        <img src="assets/icons/ico-fb.png" alt="Logo" width="44" height="44">
        <img src="assets/icons/ico-twiter.png" alt="Logo" width="44" height="44">
        <img src="assets/icons/ico-linkedin.png" alt="Logo" width="44" height="44">
      </div>
      <p class="a_footer_copy_r">© 2024 MÁS UNO Lima - Perú</p>
    </div>
  </div>
</div>
