<div class="php_page">
  <img src="assets/icons/banner-pyhon.png" alt="Logo" width="1400" height="403" class="php_page_bg">
  <div class="php_page_que_es">
    <p class="php_page_que_titulo">¿Qué es Python?</p>
    <p class="php_page_que_desc">
      Python es un lenguaje de programación ampliamente utilizado en las aplicaciones web, el desarrollo de software, la
      ciencia de datos y el machine learning (ML). Los desarrolladores utilizan Python porque es eficiente y fácil de
      aprender, además de que se puede ejecutar en muchas plataformas diferentes. El software Python se puede descargar
      gratis, se integra bien a todos los tipos de sistemas y aumenta la velocidad del desarrollo.
    </p>
  </div>
  <div class="php_page_funcion">
    <p class="php_page_func_titulo">¿Qué beneficios ofrece Python?</p>
    <p class="php_page_func_desc">
      Los beneficios de Python incluyen los siguientes:

      Los desarrolladores pueden leer y comprender fácilmente los programas de Python debido a su sintaxis básica
      similar a la del inglés.
      Python permite que los desarrolladores sean más productivos, ya que pueden escribir un programa de Python con
      menos líneas de código en comparación con muchos otros lenguajes.
      Python cuenta con una gran biblioteca estándar que contiene códigos reutilizables para casi cualquier tarea. De
      esta manera, los desarrolladores no tienen que escribir el código desde cero.
      Los desarrolladores pueden utilizar Python fácilmente con otros lenguajes de programación conocidos, como Java, C
      y C++.
      La comunidad activa de Python incluye millones de desarrolladores alrededor del mundo que prestan su apoyo. Si se
      presenta un problema, puede obtener soporte rápido de la comunidad.
      Hay muchos recursos útiles disponibles en Internet si desea aprender Python. Por ejemplo, puede encontrar con
      facilidad videos, tutoriales, documentación y guías para desarrolladores.
      Python se puede trasladar a través de diferentes sistemas operativos de computadora, como Windows, macOS, Linux y
      Unix.
    </p>
  </div>
  <div class="a_descuento_img_titular">
    <img src="assets/icons/ico-caras.png" width="104" height="40">
  </div>
  <div class="tecnologias_carrusel">
    <div class="php_page_titulo_carr">
      <p class="php_page_titulo_carr_text">Galería</p>
    </div>
    <swiper-container>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-python-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-python-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-python-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-python-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
    </swiper-container>
    <button class="swiper-button-prev">
      <img src="assets/icons/ico-prev.png" width="40" height="40">
    </button>
    <button class="swiper-button-next">
      <img src="assets/icons/ico-next.png" width="40" height="40">
    </button>
  </div>
</div>
