<div class="php_page">
  <img src="assets/icons/banner-ui.png" alt="Logo" width="1400" height="403" class="php_page_bg">
  <div class="php_page_que_es">
    <p class="php_page_que_titulo">¿Qué es el diseño UX/UI?</p>
    <p class="php_page_que_desc">
      Cuando creamos la web de una marca se nos pasan muchas cosas por la cabeza: ¿Las categorías están en el lugar
      adecuado?, ¿Hacen bien su función? ¿Son pequeñas o grandes? Para responder a todas las preguntas, lo primero que
      tenemos que hacer es evaluar el comportamiento del usuario (Ux y UI), qué acciones hace, qué es lo primero que
      mira y qué reacciones tiene para poder decidir qué diseño es el más adecuado.

      Aquí es donde entra la UX (experiencia de usuario) y la UI (interfaz de usuario), que tienen la función de que el
      usuario encuentre lo que busca en el menor tiempo posible y además tenga una buena experiencia al visitar la web.
      En este artículo definiremos qué es la UX y la UI y qué relación existe entre ambas.
    </p>
  </div>
  <div class="php_page_funcion">
    <p class="php_page_func_titulo">Factores que influyen</p>
    <p class="php_page_func_desc">
      La percepción: Tenemos que saber qué nos llama la atención, cómo nos afectan los colores y cómo desplazamos la
      mirada por la pantalla.
      Las emociones: Las emociones no son reacciones automáticas, y por lo tanto hay que entender cómo se generan y qué
      implicaciones tienen. Las personas nos dejamos guiar más por las emociones que por cualquier otra cosa, y
      precisamente por eso es tan importante tenerlas en cuenta.
      La memoria: Cuando diseñamos una web tenemos que pensar en las limitaciones de las personas para recordar. Muchas
      veces no se tienen en cuenta los caminos para que el usuario vuelva al punto de partida, y eso puede hacer que se
      sienta confuso.
      La mentalidad: El usuario tendrá creencias, estereotipos, su interpretación de la sociedad y de las personas que
      lo rodean. Siguiendo en esta línea, vemos por qué cada vez más los usuarios buscan valoraciones de otras personas
      acerca de un producto en la red: no es solamente desconfianza, también implica qué prejuicios y creencias tiene.
      La motivación: El usuario tiene que estar motivado durante todo el tiempo que esté en la página web, no solamente
      al principio, ya que sino puede ser que abandone. 
      El aprendizaje: Desde el momento en que un usuario entra en una página web se convierte en un aprendiz y eso
      significa que tenemos que enseñarle los pasos que tiene que dar para que consiga su objetivo. Además, se tiene que
      estructurar la información para que el usuario entienda fácilmente todo el contenido de la web.
    </p>
  </div>
  <div class="a_descuento_img_titular">
    <img src="assets/icons/ico-caras.png" width="104" height="40">
  </div>
  <div class="tecnologias_carrusel">
    <div class="php_page_titulo_carr">
      <p class="php_page_titulo_carr_text">Galería</p>
    </div>
    <swiper-container>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-ui-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-ui-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-ui-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-ui-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
    </swiper-container>
    <button class="swiper-button-prev">
      <img src="assets/icons/ico-prev.png" width="40" height="40">
    </button>
    <button class="swiper-button-next">
      <img src="assets/icons/ico-next.png" width="40" height="40">
    </button>
  </div>
</div>
