<div class="a_principal">
  <app-header></app-header>

  <div class="a_contenido">
    <div class="a_cyber">
      <div class="a_conenido_1">

        <div class="a_cyber_info">
          <div class="a_cyber_grupo_es_hora">
            <img src="assets/icons/ico-es-hora.png" alt="Logo" width="104" height="40">
            <p class="a_cyber_es_hora">ES HORA DE</p>
          </div>
          <p class="a_cyber_cyber">CYBER DAYS</p>
          <div class="a_cyber_en_grupo">
            <p class="a_cyber_en">EN</p>
            <div class="a_cyber_grupo_uno">
              <p class="a_cyber_mas_uno">Más uno</p>
              <img src="assets/icons/subrayado-rojo.png" alt="Logo" width="255" height="24">
            </div>
          </div>
          <p class="a_cyber_fecha">Del <b>28</b> al <b>30</b> de marzo</p>
          <img src="assets/icons/oferta.png" alt="Logo" width="551" height="368">
        </div>

        <div class="a_cyber_form">
          <div class="a_cyber_my_form">
            <div class="a_cyber_form_titulares">

              <div class="a_cyber_titulo_form">
                <p class="a_cyber_completa">Completa tus datos</p>
                <img src="assets/icons/subrayado-azul-form.png" alt="Logo" width="235" height="15">
              </div>

              <div class="a_cyber_cuerpo_form">
                <form novalidate [formGroup]='formLanding' class="a_cyber_form_campos">

                  <div class="form-row row ">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="a_label_form">Nombres *</label>
                      <input formControlName="Nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="a_label_form">Apellidos *</label>
                      <input formControlName="Apellido" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="form-row row ">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="a_label_form">Teléfono celular *</label>
                      <input formControlName="Celular" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="a_label_form">Correo electrónico *</label>
                      <input formControlName="Correo" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="form-row row ">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="a_label_form">Tus favoritos</label>
                      <select class="form-control" formControlName="IdFavorito" (change)="misFavoritos($event)">
                        <option value="0">-Seleccionar-</option>
                        <option *ngFor="let item of comboFavoritos" [value]="item.Id">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 a_captcha">
                      <re-captcha (resolved)="resolved($event)" siteKey="6Leiv-0pAAAAAKr3gb9o4wSV-qFI2BnjY57mzR9y">
                      </re-captcha>
                    </div>
                  </div>

                  <div class="form-row row a_check_mis_terminos">
                    <div class="form-group col-md-12">
                      <div class="form-check a_form_tyc">
                        <input class="form-check-input" type="checkbox" id="checkTerminos" formControlName="Terminos">
                        <label class="form-check  a_label_form_check" for="checkTerminos">
                          Acepto los <a href="#" class="a_terminos_link">Acepto los Términos y políticas de
                            privacidad</a>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row row a_check_mis_datos">
                    <div class="form-group col-md-12">
                      <div class="form-check a_form_tyc">
                        <input class="form-check-input" type="checkbox" id="checkDatos" formControlName="Terminos">
                        <label class="form-check  a_label_form_check" for="checkDatos">
                          Acepto el <a href="#" class="a_datos_link">Uso de datos personales</a>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="a_my_btn_guardar">
                    <button type="button" class="btn a_btn_guardar" (click)="guardar()"
                      [disabled]="!formLanding.valid || !captchaResolved">
                      Registrarme
                    </button>
                  </div>
                </form>
              </div>

              <p class="a_cyber_tyc">
                Aprovecha las mejores ofertas y descuentos en pollo, pavo, cerdo, congelados, embutidos
                <span>y mucho más</span>. No te pierdas de nada estos Cyberdays registrándote y obteniendo grandes
                descuentos exclusivos.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="a_contenido_2">
      <div class="a_descuento">
        <div class="a_descuento_img_titular a_desc_supe">
          <img src="assets/icons/ico-caras.png" alt="Ico caras" width="104" height="40">
        </div>
        <div class="a_descuento_cont_preg">
          <p class="a_descuento_pregunta">¿Como obtengo el descuento por Cyber Days?</p>
          <img src="assets/icons/subrayado-rojo.png" alt="Ico caras" width="472" height="34">
        </div>
        <p class="a_descuento_subtitulo">
          Para adquirir nuestro descuento especial por <span>Cyber Days</span> sigue los siguientes pasos
        </p>
        <div class="a_descuento_pasos">
          <div class="a_descuento_card a_desc_card_1">
            <p class="a_desc_paso_text">Paso 1</p>
            <div class="a_desc_card_body">
              <img src="assets/icons/desc-paso-1.png" alt="Ico caras" width="244" height="244">
              <p class="a_desc_titulo_2">Regístrate</p>
              <p class="a_desc_paso_desc">Completa el formulario con tus datos personales y acepta los términos.</p>
            </div>
          </div>
          <div class="a_descuento_card a_desc_card_2">
            <p class="a_desc_paso_text">Paso 2</p>
            <div class="a_desc_card_body">
              <img src="assets/icons/desc-paso-2.png" alt="Ico caras" width="244" height="244">
              <p class="a_desc_titulo_2">Recibe un cupón</p>
              <p class="a_desc_paso_desc">Recibirás un correo electrónico donde podrás ver el cupón de descuento.</p>
            </div>
          </div>
          <div class="a_descuento_card a_desc_card_3">
            <p class="a_desc_paso_text">Paso 3</p>
            <div class="a_desc_card_body">
              <img src="assets/icons/desc-paso-3.png" alt="Ico caras" width="244" height="244">
              <p class="a_desc_titulo_2">Empieza a ahorrar</p>
              <p class="a_desc_paso_desc">
                ¡Y listo! Podrás usarlo del 28 al 30 de Marzo por compras en nuestra tienda online.
              </p>
            </div>
          </div>
        </div>
        <div class="a_descuento_img_titular">
          <img src="assets/icons/ico-caras.png" alt="Ico caras" width="104" height="40">
        </div>
      </div>

      <div class="tecnologias">
        <div class="tecnologias_titulares">
          <img src="assets/icons/logo-black.png" alt="Logo" width="80" height="80">
          <p class="tecnologias_las_mejores">
            Las mejores tecnologías en Más uno
          </p>
          <img src="assets/icons/subrayado-rojo.png" alt="Logo" width="604" height="34">
        </div>

        <div class="tecnologias_carrusel">
          <swiper-container>
            <swiper-slide>
              <div class="tec_card tec_card_1">
                <div class="tec_card_info">
                  <div class="tec_card_contenido">
                    <img src="assets/icons/ico-star.png" alt="Logo" width="64" height="64">
                    <p class="tec_card_titulo">PHP</p>
                    <p class="tec_card_desc">PHP es un lenguaje de código abierto muy popular especialmente adecuado
                      para el desarrollo web y que puede ser incrustado en HTML. echo "¡Hola, soy un script de PHP!"; ?>
                    </p>
                    <button class="tec_card_btn_ver" (click)="verCategoria(1)">Ver categoría</button>
                  </div>
                </div>
                <img src="assets/icons/image-php.png" alt="Logo" width="640" height="598">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="tec_card tec_card_2">
                <div class="tec_card_info">
                  <div class="tec_card_contenido">
                    <img src="assets/icons/ico-star.png" alt="Logo" width="64" height="64">
                    <p class="tec_card_titulo">PYTHON</p>
                    <p class="tec_card_desc">Python es un lenguaje de programación ampliamente utilizado en las aplicaciones web, el desarrollo de software, la ciencia de datos y el machine learning (ML).
                    </p>
                    <button class="tec_card_btn_ver" (click)="verCategoria(2)">Ver categoría</button>
                  </div>
                </div>
                <img src="assets/icons/image-python.png" alt="Logo" width="640" height="598">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="tec_card tec_card_3">
                <div class="tec_card_info">
                  <div class="tec_card_contenido">
                    <img src="assets/icons/ico-star.png" alt="Logo" width="64" height="64">
                    <p class="tec_card_titulo">DISEÑO UX/UI</p>
                    <p class="tec_card_desc">Aquí es donde entra la UX (experiencia de usuario) y la UI (interfaz de usuario), que tienen la función de que el usuario encuentre lo que busca en el menor tiempo posible y además tenga una buena experiencia al visitar la web.
                    </p>
                    <button class="tec_card_btn_ver" (click)="verCategoria(3)">Ver categoría</button>
                  </div>
                </div>
                <img src="assets/icons/image-ui.png" alt="Logo" width="640" height="598">
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

    </div>
  </div>


  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
