<div class="php_page">
  <img src="assets/icons/banner-php.png" alt="Logo" width="1400" height="403" class="php_page_bg">
  <div class="php_page_que_es">
    <p class="php_page_que_titulo">¿Qué es PHP y cómo funciona?</p>
    <p class="php_page_que_desc">
      PHP es un lenguaje de programación destinado a desarrollar aplicaciones para la web y crear páginas web,
      favoreciendo la conexión entre los servidores y la interfaz de usuario.
      Entre los factores que hicieron que PHP se volviera tan popular, se destaca el hecho de que es de código abierto.
      Esto significa que cualquiera puede hacer cambios en su estructura. En la práctica, esto representa dos cosas
      importantes:

      es de código abierto, no hay restricciones de uso vinculadas a los derechos. El usuario puede usar PHP para
      programar en cualquier proyecto y comercializarlo sin problemas.
      está en constante perfeccionamiento, gracias a una comunidad de desarrolladores proactiva y comprometida.
    </p>
  </div>
  <div class="php_page_funcion">
    <p class="php_page_func_titulo">La función principal de PHP, en la práctica</p>
    <p class="php_page_func_desc">
      El PHP generalmente es definido como un lenguaje del lado del servidor. Esto significa que se aplica en la
      programación que tiene lugar en el servidor web responsable de ejecutar la aplicación o, más a menudo, en un sitio
      web.

      Este trabajo previo permite cargar los elementos de una página antes de mostrarlos al usuario que accede a un
      sitio web, por ejemplo.

      El código PHP se ejecuta en el servidor que, al leer los comandos, puede activar todos los elementos funcionales y
      la interfaz visual del sitio web.

      Quizás, la aplicación principal del lenguaje PHP, cuando hablamos de la web, es estructurar sitios web en
      WordPress.

      La simplicidad para aprender a usarlo y el desarrollo del código abierto le facilita el trabajo a los
      profesionales que eligen estructurar sitios web utilizando la plataforma, pues a medida que avanzan las
      configuraciones y ediciones se simplifican aún más.
    </p>
  </div>
  <div class="a_descuento_img_titular">
    <img src="assets/icons/ico-caras.png" width="104" height="40">
  </div>
  <div class="tecnologias_carrusel">
    <div class="php_page_titulo_carr">
      <p class="php_page_titulo_carr_text">Galería</p>
    </div>
    <swiper-container>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-php-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-php-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-php-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="php_page_card php_card_1">
          <img src="assets/icons/galeria-php-1.png" class="a_gal_tec" width="600" height="390">
        </div>
      </swiper-slide>
    </swiper-container>
    <button class="swiper-button-prev">
      <img src="assets/icons/ico-prev.png" width="40" height="40">
    </button>
    <button class="swiper-button-next">
      <img src="assets/icons/ico-next.png" width="40" height="40">
    </button>
  </div>
</div>
